graft tests/
include tox.ini
graft pyfy/
include requirements.txt
include test_requirements.txt
include README.md

global-exclude *.pyc
global-exclude *spt_keys.py
global-exclude */set_envs.sh
global-exclude *tox_private.ini
global-exclude *examples/
global-exclude *.json